@scope (.article) {
    :scope {
        border: solid 1px black;
    }

    @scope (.article-hero) {
        :scope {
            color-scheme: dark;
            background: var(--background-color);
            color: var(--primary-foreground-color);
        }

        h2 {
            font-size: 3rem;
        }

        img {
            width: 100%;
            aspect-ratio: 21 / 7;
            object-fit: cover;
        }
    }

    @scope (.article-body) {
        :scope {
            color-scheme: light;
            background: var(--background-color);
            color: var(--primary-foreground-color);
        }
    }

    @scope (.article-body) to (figure) {
        img {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: contain;
            border: 5px solid black;
            background-color: goldenrod;
        }
    }

    @scope (footer) {
        :scope {
            color-scheme: dark;
            background: var(--background-color);
            color: var(--primary-foreground-color);
            padding-bottom: 1rem;
        }
    }

    /*
    Uncomment to show usage of selector list
    */
    @scope (figure, #primary) {
        :scope img {
            object-fit: cover;
            aspect-ratio: 16 / 9;
            width: 600px;
        }
    }
}
