@layer reset {
    .layer-demo {
        :is(h1, h2, h3, h4, h5, h6, .headline) {
            color: firebrick;
        }
    }
}

@layer defaults {
    /*.layer-demo {
        :is(h1, h2, h3, h4, h5, h6, .headline) {
            color: firebrick;
        }
    }*/

    :is(h1, h2, h3, h4, h5, h6, .headline) {
        color: inherit;
    }
}